rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /ads_manager/{adId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null
        && request.auth.uid == "CLBHE7rmmARH6V9XpCXnkZrHxju2";
    }

    match /settings/{settingId} {
      allow read: if settingId in ["social", "ads"];
      allow create, update, delete: if settingId in ["social", "ads"]
        && request.auth != null
        && request.auth.uid == "CLBHE7rmmARH6V9XpCXnkZrHxju2";
    }
  }
}
